<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- Dcument DB Settings-->
    <add key="endpoint" value="https://esb.documents.azure.com:443/" />
    <add key="authKey" value="kPICppW3GLTXhUFmzqZ2IHw8tta9vF5J9J0HNk3b7Q43subWOZmbN+Iaf1uF6ULA5Qodmotp1SeUwheaMBPKKg==" />
    <add key="database" value="Forms" />
    <add key="collection" value="forms" />
    <!-- Blob Storage Connection String-->
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=esbmobdm;AccountKey=LafOsaOICdKyMHSivIgWH1VW2HFC7TXP2t3E2FTVgu4L6/0BzkMhZr3BU1ySABBsAkG7Q1+v4Ea5xK8kNJ347g==;BlobEndpoint=https://esbmobdm.blob.core.windows.net/;TableEndpoint=https://esbmobdm.table.core.windows.net/;QueueEndpoint=https://esbmobdm.queue.core.windows.net/;FileEndpoint=https://esbmobdm.file.core.windows.net/" />
    <add key="Blob" value="esbmobdm" />
    <add key="Container" value="mobile" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
